@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 11px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

#dateTime {
    color: #443737;
    padding-left: 15px;
    padding-top: 12px;
    /* font-weight: bold; */
}

.nav-item {
    padding-right: 25px;
}

section {
    padding: 5rem 0;
}

body {
    background-color: white;
}

h1 {
    font-family: 'Poppins', sans-serif
}

header {
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

}


.container {
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.nav-brand {
    width: 2rem;
}

.menu-icons i {
    font-size: 3.5 rem;
    color: #fafafa;
    cursor: pointer;
}

.close i {
    color: #eb648c;
}

.nav-list {
    width: 25rem;
    height: 100vh;
    background-color: #d7d4ed;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}

.nav-list.active {
    right: 0;

}

.close {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.nav-item {
    margin: 1.5rem 0;
}

.nav-link {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .7);
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;

}

/*hero*/

.hero {
    widows: 100%;
    height: 80vh;
    background: url("../images/header-bg.gif") center no-repeat;
    background-size: cover;
    position: relative;
    /* margin-top: -83px; */
}

.main-message {
    width: 100%;
    max-width: 50rem;
    color: #fafafa;
    text-transform: uppercase;
    transform: translateY(20%);
}

.main-message h3 {
    font-size: 1.6rem;
}

.main-message h1 {
    font-family: 'Aldrich', sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
}

.btn {
    background-color: white;
    border-radius: 2rem;
    color: black;
    font-size: 15px;
    display: inline-block;
    margin-top: 2rem;
    margin: 0 10px 0 10px;
    padding: 1rem 3.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
}

.btn:hover {
    background-color: transparent;
    color: black;
    text-decoration: underline;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600');

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.slider input[type="radio"] {
    position: relative;
    z-index: 1;
    margin: 0 10px 0 10px;
    margin-bottom: 40px;
    outline: none;
    cursor: pointer;
}

.slider__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    padding-top: -300px;
    background: url(../images/main-hero-desktop.png);
    transition: 0.5s;
}


.slider__radio2:checked~.slider__slide {
    background-position-x: -980px;
}

.slider__radio3:checked~.slider__slide {
    background-position-x: -1680px;
}

.text-slide {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    color: #fff;
    transition: 1s;
}

.text-slide h1 {
    margin: 0;
    padding: 0;
    font-size: 4em;
    line-height: 0.8em;


}

.slider__radio1:checked~.text1 {
    opacity: 1;
}

.slider__radio2:checked~.text2 {
    opacity: 1;
}

.slider__radio3:checked~.text3 {
    opacity: 1;
}

.fa-instagram {
    color: white;
    font-size: 35px;
    padding-right: 20px;
    transition: color 1s ease;
}

.fa-envelope {
    color: white;
    font-size: 35px;
    padding-right: 20px;
    transition: color 1s ease;
}

.fa-instagram:hover {
    color: steelblue;
}

.fa-envelope:hover {
    color: red;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

/* ------------------------------------------------------------ */
@import "compass/css3";

/*
I wanted to go with a mobile first approach, but it actually lead to more verbose CSS in this case, so I've gone web first. Can't always force things...

Side note: I know that this style of nesting in SASS doesn't result in the most performance efficient CSS code... but on the OCD/organizational side, I like it. So for CodePen purposes, CSS selector performance be damned.
*/

/* Global settings */
$color-border: #eee;
$color-label: #aaa;
$font-default: 'HelveticaNeue-Light',
'Helvetica Neue Light',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
$font-bold: 'HelveticaNeue-Medium',
'Helvetica Neue Medium';


/* Global "table" column settings */
.product-image {
    float: left;
    width: 20%;
}

.product-details {
    float: left;
    width: 37%;
}

.product-price {
    float: left;
    width: 12%;
}

.product-quantity {
    float: left;
    width: 10%;
}

.product-removal {
    float: left;
    width: 9%;
}

.product-line-price {
    float: left;
    width: 12%;
    text-align: right;
}


/* This is used as the traditional .clearfix class */
.group:before,
.group:after {
    content: '';
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}


/* Apply clearfix in a few places */
.shopping-cart,
.column-labels,
.product,
.totals-item {
    @extend .group;
}


/* Apply dollar signs */
.product .product-price:before,
.product .product-line-price:before,
.totals-value:before {
    content: '$';
}



.shopping-cart {
    margin-top: -45px;
}


/* Column headers */
.column-labels {
    label {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $color-border;
    }

    .product-image,
    .product-details,
    .product-removal {
        text-indent: -9999px;
    }
}


/* Product entries */
.product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-border;

    .product-image {
        text-align: center;

        img {
            width: 100px;
        }
    }

    .product-details {
        .product-title {
            margin-right: 20px;
            font-family: $font-bold;
        }

        .product-description {
            margin: 5px 20px 5px 0;
            line-height: 1.4em;
        }
    }

    .product-quantity {
        input {
            width: 40px;

        }
    }

    .remove-product {
        border: 0;
        padding: 4px 8px;
        background-color: #c66;
        color: #fff;
        font-family: $font-bold;
        font-size: 12px;
        border-radius: 3px;
    }

    .remove-product:hover {
        background-color: #a44;
    }
}


/* Totals section */
.totals {
    .totals-item {
        float: right;
        clear: both;
        width: 100%;
        margin-bottom: 10px;

        label {
            float: left;
            clear: both;
            width: 79%;
            text-align: right;
        }

        .totals-value {
            float: right;
            width: 21%;
            text-align: right;
        }
    }

    .totals-item-total {
        font-family: $font-bold;
    }
}

/* .checkout {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
}

.checkout:hover {
    background-color: #494;
} */

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {

    .shopping-cart {
        margin: 0;
        padding-top: 20px;
        border-top: 1px solid $color-border;
    }

    .column-labels {
        display: none;
    }

    .product-image {
        float: right;
        width: auto;

        img {
            margin: 0 0 10px 10px;
        }
    }

    .product-details {
        float: none;
        margin-bottom: 10px;
        width: auto;
    }

    .product-price {
        clear: both;
        width: 70px;
    }

    .product-quantity {
        width: 100px;

        input {
            margin-left: 20px;
        }
    }

    .product-quantity:before {
        content: 'x';
    }

    .product-removal {
        width: auto;
    }

    .product-line-price {
        float: right;
        width: 70px;
    }

}


/* Make more adjustments for phone */
@media screen and (max-width: 350px) {

    .product-removal {
        float: right;
    }

    .product-line-price {
        float: right;
        clear: left;
        width: auto;
        margin-top: 10px;
    }

    .product .product-line-price:before {
        content: 'Item Total: $';
    }

    .totals {
        .totals-item {
            label {
                width: 60%;
            }

            .totals-value {
                width: 40%;
            }
        }
    }
}